<div>
  <h1 class="text-2xl font-bold text-red-600">Under Construction</h1>
  <h2 class="text-2xl font-bold">Everything on this page needs checking! (Some are definitely wrong.)</h2>

  <div class="container flex px-6 py-4 mx-auto mt-4 text-white border border-white rounded">
    <div>
      <p>The tables below show the recommended resin to fibreglass ratios and catalyst ratios for polyester resin systems. These are general guidelines and may vary based on specific materials and applications. Always refer to the manufacturer's recommendations for the best results.</p>
      <p class="mt-4 mb-4">Try out our material calculators.</p>
      <%= link_to "Calculate by Area", quantities_area_path, class: "px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" %>
      <%= link_to "Calculate by Dimensions", quantities_dimensions_path, class: "px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" %>
      <%= link_to "Calculate a Rectangle Mould", quantities_mould_rectangle_path, class: "px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" %>
    </div>
  </div>

  <div class="container flex px-6 py-4 mx-auto mt-4 border border-white rounded">
    <div class="flex-col px-2 mt-4 text-white">
      <h2 class="text-2xl font-bold">Resin to Fibreglass Ratios</h2>
      <table class="table min-w-full-fixed">
        <thead class="bg-blue-400">
          <tr>
            <th class="px-4 py-2 bg-blue-400 border border-t-2 border-white">Material (Kevlar/Carbon Fibre?)</th>
            <th class="px-4 py-2 border border-t-2 border-white">Resin Per Sq Meter</th>
            <th class="px-4 py-2 border border-t-2 border-white">Thickness</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">300g (1oz) Chop Strand Mat</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">650g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.5mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">450g (1oz) Chop Strand Mat</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">1.0 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.75mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">600g (2oz) Chop Strand Mat</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">1.4 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">1.0mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">900g (1oz) Chop Strand Mat</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">2.0 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">1.5mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">125g Plain weave Glass cloth</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">150g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.25mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">200g Plain weave Glass cloth</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">250g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.5mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">300g Woven Roving</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">300g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.25mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">600g Woven Roving</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">600g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.5mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">800g Woven Roving</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">800g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.75mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">600/300 Combination Matt</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">1.2 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.75mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">800/450 Combination Matt</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">1.7 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">1.0mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">600g Biaxial Glassfibre</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">700g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.5mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">800g Biaxial Glassfibre</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">900g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.75mm</td>
            </tr>
            <tr>
              <td class="px-4 py-2 bg-blue-400 border border-t-2 border-white">Gel Coat</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">600g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">0.5mm</td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="flex-col px-2 mt-4 text-white">
      <h2 class="text-2xl font-bold">Catalyst Ratios</h2>
      <table class="table min-w-full-fixed">
        <tbody>
            <tr class="bg-blue-400">
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">Temperature</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">5&deg;C to 13&deg;C</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">13&deg;C to 16&deg;C</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">16&deg;C to 20&deg;C</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">20&deg;C to 25&deg;C</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">% Catalyst to Resin</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">4%</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">3%</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">2%</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">1%</td>
            </tr>

            <tr>
              <td class="bg-blue-400 border border-t-2 border-white">Catalyst Amounts for<br> Common Resin Quantities</td>
              <td colspan="4" class="px-4 py-2 text-center bg-blue-400 border border-t-2 border-white">(Using the above % Catalyst to Resin)</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">100g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">4ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">3ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">2ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">1ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">500g</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">20ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">15ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">10ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">5ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">1.0 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">40ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">30ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">20ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">10ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">1.5 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">60ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">45ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">30ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">15ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">2.0 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">80ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">60ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">40ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">20ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">2.5 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">100ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">75ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">50ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">25ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">3.0 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">120ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">90ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">60ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">30ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">3.5 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">140ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">105ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">70ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">35ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">4.0 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">160ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">120ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">80ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">40ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">4.5 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">180ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">135ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">90ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">45ml</td>
            </tr>
            <tr>
              <td class="px-4 py-2 font-bold bg-blue-400 border border-t-2 border-white">5.0 kg</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">200ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">150ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">100ml</td>
              <td class="px-4 py-2 text-center border border-t-2 border-white">50ml</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
