name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: e_commerce_rails7
          POSTGRES_PASSWORD: e_commerce_rails7
          POSTGRES_DB: e_commerce_rails7_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/e_commerce_rails7_test
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libvips

      - name: Setup database
        run: |
          bin/rails db:prepare

      - name: Grant superuser to test database user
        run: |
          PGPASSWORD=postgres psql -h localhost -U postgres -c "ALTER USER postgres WITH SUPERUSER;"

      - name: Run RuboCop
        run: bundle exec rubocop

      - name: Run tests
        run: bin/rails test

  system-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: e_commerce_rails7_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/e_commerce_rails7_test
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libvips

      - name: Setup database
        run: |
          bin/rails db:prepare

      - name: Grant superuser to test database user
        run: |
          PGPASSWORD=postgres psql -h localhost -U postgres -c "ALTER USER postgres WITH SUPERUSER;"

      - name: Run system tests
        run: bin/rails test:system
